.container {
	display: flex;
	flex-direction: column;
}

.container > div {
	padding: 0 0.4rem;
}

.reportsAndHours {
	flex-direction: column;
}

.submittedReports {
	flex: 1;
}

.newReport form {
	display: flex;
	flex-direction: column;
}

.newReport label {
	font-size: 14px;
	margin: 4px 2px 0px;
}

.newReport input,
.newReport textarea {
	width: 100%;
}

.newReport button {
	margin-top: 8px;
}

@media screen and (min-width: 640px) {
	.container {
		flex-direction: row-reverse;
	}

	.container > div {
		flex: 1;
	}

	.newReport {
		max-width: 320px;
	}
}
.report {
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 400px;
}
.hoursAndDates {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hours {
	font-size: 22px;
	font-weight: 1000;
	align-self: flex-end;
}
.date {
	font-size: 22px;
	font-weight: 1000;
	align-self: flex-start;
}
.notes {
	font-size: 14px;
	font-weight: 400;
	word-wrap: break-word;

}
.bla {
	flex-direction: column;
}
