.container {
	display: flex;
	flex-direction: column;
}

.container > div {
	padding: 0 0.4rem;
}

.submittedReports {
	flex: 1;
}

.newReport form {
	display: flex;
	flex-direction: column;
}

.newReport label {
	font-size: 14px;
	margin: 4px 2px 0px;
}

.newReport input,
.newReport textarea {
	width: 100%;
}

.newReport button {
	margin-top: 8px;
}

@media screen and (min-width: 640px) {
	.container {
		flex-direction: row-reverse;
	}

	.container > div {
		flex: 1;
	}

	.newReport {
		max-width: 320px;
	}
}
