.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
}

.container > button {
	margin-top: 1rem;
	margin-bottom: 3rem;

	padding: 12px;
	background-color: #2a5;
	color: white;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
