.container {
	align-items: center;
}

.list {
	margin: 0 0 10px;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

.list > li {
	padding: 10px 4px;
	border-bottom: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.list > li > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.list > li:last-child {
	border-bottom: none;
}

.openClosedMark {
	height: 16px;
	width: 16px;
	border-radius: 50%;
}

.openClosedMark.closed {
	background-color: red;
}

.openClosedMark.open {
	background-color: green;
}
